<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="style/channel.css">
	<link rel="stylesheet" href="style/link_button.css">
	<title>
		<%= channel %>
	</title>
</head>

<body>
	<div class="button link_button">
		<a href="/"> Home </a>
	</div>

	<div class="button link_button">
		<a href="/list"> List </a>
	</div>

	<div class="logout link_button">
		<span> <%= username %> </span>
		<a href="/logout"> Logout </a>
	</div>

	<h1>
		<%= channel %>
	</h1>

	<section id="zone_chat"></section>

	<form id="chat_form">
		<input type="text" name="message" id="message" placeholder="Type here..." size="240" autocomplete="off" autofocus />
	</form>

	<script>
		var name = '<%= username %>';
		var channel = '<%= channel %>';
	</script>

	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="channel.js"></script>
</body>

</html>
