<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="style/list.css">
	<link rel="stylesheet" href="style/link_button.css">
	<title>My Discord - List</title>
</head>

<body>
	<div class="home link_button">
		<a href="/"> Home </a>
	</div>

	<div class="logout link_button">
		<span> <%= username %> </span>
		<a href="/logout"> Logout </a>
	</div>
	<h1>Channel list</h1>

	<div id="user_list">
		<% for (var i = 0; i < users.length; i++) { %>
			<a>
				<%= users[i] %>
			</a><br>
			<% }; %>
	</div>

	<% for (var i = 0; i < discord.length; i++) { %>
		<div class="channel_list link_button">
			<a href="<%=discord[i].channel_name%>">
				<%=discord[i].channel_name%>
			</a>
			<span> <%= discord[i].history.length - 1 %> messages </span>
		</div>
		<% }; %>
			<form id="new_channel" action="/list" method="post">
				<input type="text" name="new_channel" placeholder="New channel" size="25" autocomplete="off" autofocus required />
				<input type="submit" value="Create" />
			</form>
</body>

</html>
